@model IEnumerable<RentaCar.Entities.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled Rentanja</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumZavrsetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Automobil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumZavrsetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Automobil.Tablice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Prezime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
