@model IEnumerable<RentaCar.Entities.Proizvodjac>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled Proizvođača</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj proizvođača</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalji)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalji)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
