@model RentaCar.Entities.Automobil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Automobil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tablice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tablice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipAutomobila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipAutomobila.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
